[submodule "projects/Fractals_WASM"]
	path = projects/Fractals_WASM
	url = https://github.com/Dolpic/Fractals_WASM
[submodule "projects/WebGL"]
	path = projects/WebGL
	url = https://github.com/Dolpic/WebGL
[submodule "projects/MonteCarlo"]
	path = projects/MonteCarlo
	url = https://github.com/Dolpic/MonteCarlo
